<h1>Edit Book </h1>
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being edited:</h2>
    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_tag "/books/#{@book.id}", method: :patch do %>
    <div class="form-group">
        <%= label_tag :form_book_title, 'Title:' %>
            <%= text_field_tag :form_book_title, @book.title %>
    </div>
    <div class="form-group">
        <%= label_tag :form_author, 'Author:' %>
            <%= text_field_tag :form_author, @book.author %>
    </div>
    <div class="form-group">
        <%= label_tag :form_price, 'Price' %>
            <%= text_field_tag :form_price, @book.price%>
    </div>
    <div class="form-group">
        <%= label_tag :form_publisher, 'Publisher' %>
            <%= text_field_tag :form_publisher, @book.publisher%>
    </div>
    <% @book.images.each do |image| %>
    <div class="form-group">
        <%= label_tag :form_image, 'Image' %>
            <%= text_field_tag :form_image, image.url %>
    </div>
    <% end %>
    <div class="form-group">
        <%= label_tag :form_date_published, 'Publishing Date' %>
            <%= text_field_tag :form_date_published, @book.date_published %>
    </div>
    <div class="form-group">
        <%= label_tag :form_genre, 'Genre' %>
            <%= text_field_tag :form_genre, @book.genre %>
    </div>
    <div class="form-group">
        <%= label_tag :form_description, 'Summary' %>
            <%= text_field_tag :form_description, @book.description %>
    </div>
    <div>
        <%= submit_tag 'Update' %>
    </div>
    <% end %>
