<h1>Enter a Book </h1>
<%= form_tag '/books' , method: :post do %>
<div class="form-group" >
  <%= label_tag :form_book_title, 'Title:' %>
  <%= text_field_tag :form_book_title %>
</div>
<div class="form-group">
  <%= label_tag :form_author, 'Author:' %>
  <%= text_field_tag :form_author %>
</div>
<div class="form-group">
  <%= label_tag :form_price, 'Price' %>
  <%= text_field_tag :form_price %>
</div>
<div class="form-group">
  <%= label_tag :form_publisher, 'Publisher' %>
  <%= text_field_tag :form_publisher %>
</div>
<div class="form-group">
  <%= label_tag :form_image, 'Image' %>
  <%= text_field_tag :form_image %>
</div>
<div class="form-group">
  <%= label_tag :form_date_published, 'Publishing Date' %>
  <%= text_field_tag :form_date_published %>
</div>
<div class="form-group">
  <%= label_tag :form_genre, 'Genre' %>
  <%= text_field_tag :form_genre %>
</div>
<div>
  <%= submit_tag 'Create' %>
</div>
<% end %>