<div class="row">
    <div class="col-md-8">
        <h1><%= @book.title %></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
            <img id= "big-image" src=<%= @book.images.first.url %> width="300" height="500">
            <!-- button for edting image !-->
            <div class="row">
                <% @book.images.each_with_index do |image, index| %>
                <div class="col-xs-6 col-md-3">
                    <!-- removed the "href" because it was hiting the link and refreshing !-->
                    <a class="thumbnail image-thumbnail">
                    <img class="small-image" onclick="myFunction(<%= index %>)" src=<%= image.url %> alt="...">
                    </a>
                </div>
                <% end %>
            </div>
    </div>

    <div class="col-md-8">
        <h4> Author </h4>
        <p>
            <%= @book.author %>
        </p>
        <h4> Price </h4>
        <p>
            <%= number_to_currency(@book.price) %>
        </p>
        <h4>Sales Tax</h4>
        <p>
            <!-- <%= '%.2f' % (@book.tax * @book.price.to_f) %> !-->
            <%= number_to_currency(@book.tax * @book.price.to_f) %>
        </p>
        <h4> Total </h4>
        <p>
            <!-- <%= '%.2f' %  @book.total %> !-->
            <%= number_to_currency(@book.total) %>
        </p>
        <h4> Supplier </h4>
        <p>
            <%= @book.supplier.name %>
        </p>
        <h4> Date Published</h4>
        <p>
            <%= @book.date_published %>
        </p>
         <h4> Category</h4>
        <p>
            <%= @book.format_categories%>
        </p>
        <h4> Genre </h4>
        <p>
            <%= @book.genre %>
        </p>
        <h4> Summary </h4>
        <p>
            <%= @book.description %>
                </p>
                    <% if current_user && current_user.admin %>
                    <button type="button" class="btn btn-primary-outline">
                        <a href="/books/<%= @book.id %>/edit">Update Book</a>
                    </button>
                    <%= link_to "Delete this book.", "/books/#{@book.id}", :class => 'btn btn-danger', method: :delete %>
              <button type="button" class="btn btn-primary-outline">
                        <a href="/books/<%= @book.id %>/images/edit">Update Images</a>
                    </button>
                     <button type="button" class="btn btn-primary-outline">
                        <a href="/books/<%= @book.id %>/images/new">Add New Image</a>
                    </button>
                    <% end %>
    </div>

    <% if current_user %>
    <%= form_tag "/cart/#{@book.id}", method: :post do %>
    <div class="form-group">
            <%= label_tag :form_quantity, "Quantity:" %>
            <%= text_field_tag :form_quantity %>
            <%= hidden_field_tag name="product_id", value="#{@book.id}" %>
    </div>
            <%= submit_tag "Add to Cart" %>
    <% end %>
    <% end %>

        </div>

<!-- class: row -->

<script>
// $(".image-thumbnail").on("click", function ( event ){
//     var bigImage = document.getElementById("big-image");
//     //var bigImageUrl = bigImage.getAttribute("src");
//     window.bigImage = bigImage;
//     bigImage.src = "https://upload.wikimedia.org/wikipedia/en/b/bf/Harry_Potter_and_the_Sorcerer's_Stone.jpg";
//     // bigImage.setAttribute("src", "https://upload.wikimedia.org/wikipedia/en/b/bf/Harry_Potter_and_the_Sorcerer's_Stone.jpg");
//     //alert(this);
// });


var myFunction = function(index){
    var small_image = document.getElementsByClassName("small-image")[index].src;
    var big_image = document.getElementById("big-image");
    big_image.src = small_image
    console.log(small_image);
}

</script>
