<h1>Edit Supplier </h1>
<%= form_tag "/suppliers/#{@supplier.id}", method: :patch do %>
    <div class="form-group">
        <%= label_tag :form_name, 'Name:' %>
            <%= text_field_tag :form_name, @supplier.name %>
    </div>
    <div class="form-group">
        <%= label_tag :form_email, 'Email:' %>
            <%= text_field_tag :form_email, @supplier.email %>
    </div>
    <div class="form-group">
        <%= label_tag :form_phone, 'Phone Number:' %>
            <%= text_field_tag :form_phone, @supplier.phone_number%>
    </div>
    <div>
        <%= submit_tag 'Update' %>
    </div>
    <% end %>