<div class"row">
<h2>Suppliers </h2>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |supplier| %>
    <tr>
      <th scope="row"><%= supplier.id %></th>
      <td><a href="/suppliers/<%= supplier.id%>"><%= supplier.name %></a></td>
      <td><%= supplier.email %> </td>
      <td><%= supplier.phone_number %> </td>
    </tr>
    <% end %>
    </tbody>
</table>
</div>