<div class="row">
    <div class="col-md-8">
        <h1><%= @supplier.name %></h1>
    </div>
</div>
<div class = "row">
<div class="col-md-8">
        <h4> Email: </h4>
        <h1><%= @supplier.email %></h1>
    </div>
</div>
<div class = "row">
<div class="col-md-8">
        <h4> Phone Number </h4>
        <h1><%= @supplier.phone_number %></h1>
    </div>
</div>
<a class="btn btn-primary" href="/suppliers">Back to Suppliers</a>
<a class="btn btn-primary" href="/suppliers/<%= @supplier.id %>/edit">Update Supplier</a>
<%= link_to "Delete Supplier.", "/suppliers/#{@supplier.id}", :class => 'btn btn-danger', method: :delete %>